---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
  <h1>About / Contact</h1>
  <p>LinkedIn: <a href="https://www.linkedin.com/company/hermitonl" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/company/hermitonl</a></p>
  <p>Email: kai@hermit.onl</p>
</MainLayout>