---
// component import
import MainHead from "./MainHead.astro";

// style import
import "../styles/global.css";

const {
  title = "HermitAI",
  description = "Fine-Grained AI Access Control, API-First Auth & Permissions with Permit.io, Astro & Gemini",
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <main>
      <slot> Default Text</slot>
    </main>
  </body>
</html>